.c-dialog {
  .global_mask();

  .title {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.75rem;
  }

  .content {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;

    .chat-box-button {
      padding: 0.75rem 3.5rem;

      &.cancel {
        margin-right: 2rem;
      }
    }
  }
}
