.m-button {
  .global_flex-center();
  .global_hover-active();

  margin-top: 1rem;
  padding: 0.75rem 1.75rem;
  border-radius: 0.35rem;
  white-space: nowrap;
  font-size: 1.15rem;
  line-height: 1;

  &:not(:last-child) {
    margin-right: 0.75rem;
  }

  &.default {
    border: 1.5px solid var(--white);
  }

  &.primary {
    background-color: var(--theme-green-color-one);
    color: #fff;
  }

  &.danger {
    background-color: var(--red);
    color: #fff;
  }
}
