* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
}

#app {
  overflow: auto;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ol,
li {
  list-style: none;
}

img,
a {
  /* 禁用手机端长按页面弹出菜单 */
  -webkit-touch-callout: none;
}

img:not([src]) {
  /* 使用图片标签，但没有图片，则隐藏 */
  visibility: hidden;
}

button,
input,
select,
textarea {
  outline: none;
}

button {
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

/* 移除输入框为number时右侧上下箭头 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

label {
  margin-bottom: 0;
}
