.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.hover-active {
  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}